/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image: url('img/f6167730e9b2b7434d5c00f897700464.jpg');
    -fx-background-position: right top;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.mainFxmlClass .tabPane .tab {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 20;
}

.mainFxmlClass .tabPane .tab:selected {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 20;
}

.mainFxmlClass .tabPane .tab-header-area .tab-header-background{
    -fx-background-color: transparent;
}

.mainFxmlClass .titled-pane *.content{
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 20;
    -fx-border-color: transparent;
}

.mainFxmlClass .titled-pane .title {
    -fx-background-color: transparent;
    -fx-font-size: 24px;
}

.mainFxmlClass .titled-pane .list-view {
    -fx-background-color: transparent ;
}

.mainFxmlClass .titled-pane .list-view .list-cell{
    -fx-background-color: transparent ;
    -fx-padding: 20;
}

.mainFxmlClass .titled-pane .list-view .list-cell:filled:selected{
    -fx-text-fill: #00ccff;
}

.mainFxmlClass .tabPane .list-view {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 20;
}

.mainFxmlClass .tabPane .table-view {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 20;
}

.mainFxmlClass .tabPane .list-view .list-cell{
    -fx-background-color: transparent ;
    -fx-padding: 20;
    -fx-margin: 20;
}

.mainFxmlClass .tabPane .list-view .list-cell:filled:selected{
    -fx-text-fill: #000000;
}

