/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image: url('img/f6167730e9b2b7434d5c00f897700464.jpg');
    -fx-background-position: right top;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
