/*
 * Empty Stylesheet file.
 */

.button {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
}

.text-field {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 20;
    -fx-border-color: black;
    -fx-border-radius: 20;
}
